{% extends 'navigationbar.html' %}

{% block body %}

<div class="container" style="margin-top:60px">
    <h2 class="text-center text-primary font-weight-bold">Member Plan</h2>
    <table id="example" class="table table-hover">
        <thead>
            <tr>
                <th>MemberName</th>
                <th>Contact</th>
                <th>Emailid</th>
                <th>Age</th>
                <th>Plan</th>
                <th>JoinDate</th>
                <th>ExpireDate</th>
                <th>InitialAmount</th>
                <th>Gender</th>
                <th>Remove</th>
               
                
            </tr>
        </thead>
        <tbody>
            {% for i in member %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.contact}}</td>
                <td>{{i.emailid}}</td>
                <td>{{i.age}}</td>
                <td>{{i.plan}}</td>
                <td>{{i.joindate}}</td>
                <td>{{i.expiredate}}</td>
                <td>{{i.initialamount}}</td>
                <td>{{i.gender}}</td>

                <td><a class="btn btn-danger" href="{% url 'delete_plan' i.id %}" onclick="return confirm('Are You Sure')">Delete</a></td>





            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}